/* header starts */

.et_landing-page-header {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 2px var(--black);
    height: 5rem;
    padding: 0.5rem 3rem;
}

.et_landing-page-header-inner-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.et_inner-container-child2 {
    display: flex;
    gap: 1.8rem;
    padding: 0.8rem;
}

.et_inner-container-child2 .fab {
    color: var(--action);
    cursor: pointer;
    font-size: 1.8rem;
}

/* header ends */

/* landing page container starts */

.et_landing-page-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 500px;
}

.et_landing-page-inner-container1 {
    text-align: center;
    width: 50%;
}

.the-intro-line{
    color: var(--light-gray);
}

.the-intro-line span{
    color: var(--action);
}

.et_get-started{
    margin: 3rem 1.5rem;
}

.et_get-started a{
    color: var(--action);
    border: 2px solid var(--action);
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.et_get-started a:hover{
    background-color: var(--primary-color);
    box-shadow: 0px 0px 3px 1px var(--black);
}

/* landing page container ends */

.made-by{
    color: var(--light-gray);
    text-align: center;
}

@media only screen and (max-width:1026px){
    .et_landing-page-header-inner-container{
        width: 95%;
    }
}

@media only screen and (max-width: 860px){
    .et_landing-page-header-inner-container{
        width: 100%;
    }
    .et_landing-page-inner-container1{
        width: 70%;
    }
}

@media only screen and (max-width: 510px){
    .et_landing-page-header{
        height: 4.5rem;
        padding: 0.3rem 1rem;
    }
    .et_landing-page-inner-container1{
        width: 90%;
    }
}

@media only screen and (max-width: 425px){
    .et_get-started{
        margin: 2rem 1rem;
    }
    .et_get-started a{
        padding: 0.7rem 1.2rem;
    }
}

@media only screen and (max-width: 415px){
    .et_inner-container-child2 {
        gap: 1.5rem;
    }
}

@media only screen and (max-width: 350px){
    .et_landing-page-header{
        height: 4.3rem;
        padding: 0.1rem;
    }
    .et_inner-container-child2 {
        gap: 1.2rem;
    }
}

@media only screen and (max-width: 300px){
    .et_landing-page-header{
        height: 4rem;
    }
    .et_logo{
        width: 120px;
    }
    .et_inner-container-child2 .fab {
        font-size: 1.5rem;
    }
}