<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/images/responsive-images.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- reponsive images start here -->
    <div class="et_ri-container">

        <!-- simple responsive image start here -->
        <div class="et_simple-ri">
            <img src="https://images.unsplash.com/photo-1523464862212-d6631d073194?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3JmdWwlMjBwZW9wbGV8ZW58MHx8MHx8&w=1000&q=80"
                alt="responsive-image" />
        </div>
        <!-- simple responsive image end here -->

        <!-- rounded responsive image start here -->
        <div class="et_rounded-ri rounded-ri">
            <img src="https://images.unsplash.com/photo-1523464862212-d6631d073194?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3JmdWwlMjBwZW9wbGV8ZW58MHx8MHx8&w=1000&q=80"
                alt="rounded-responsive image" />
        </div>
        <!-- rounded responsive image end here -->

    </div>
    <!-- reponsive images end here -->
</body>

</html>