<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/button/button.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- buttons start here -->
    <div class="et_btns-container">

        <!-- primary buttons start here -->
        <div class="et_primary-btns-container btns-container">
            <h3>Primary Buttons</h3>

            <!-- primary-simple buttons start here -->
            <div class="et_p-simple-btns-container">
                <button class="et_p-simple-btn primary-color btn">Primary</button>
                <button class="et_p-simple-btn action-color btn">Primary</button>
                <button class="et_p-simple-btn red-color btn">Primary</button>
                <button class="et_p-simple-btn green-color btn">Primary</button>
                <button class="et_p-simple-btn blue-color btn">Primary</button>
            </div>
            <!-- primary-simple buttons end here -->

            <!-- primary-solid buttons start here -->
            <div class="et_ps-btns-container">
                <button class="et_ps-btn primary-color btn">Primary</button>
                <button class="et_ps-btn action-color btn">Primary</button>
                <button class="et_ps-btn red-color btn">Primary</button>
                <button class="et_ps-btn green-color btn">Primary</button>
                <button class="et_ps-btn blue-color btn">Primary</button>
            </div>
            <!-- primary-solid buttons end here -->

            <!-- primary-outlined buttons start here -->
            <div class="et_po-btns-container">
                <button class="et_po-btn primary-color btn">Primary</button>
                <button class="et_po-btn action-color btn">Primary</button>
                <button class="et_po-btn red-color btn">Primary</button>
                <button class="et_po-btn green-color btn">Primary</button>
                <button class="et_po-btn blue-color btn">Primary</button>
            </div>
            <!-- primary-outlined buttons end here -->

        </div>
        <!-- primary buttons end here -->

        <!-- secondary buttons start here -->
        <div class="et_secondary-btns-container btns-container">
            <h3>Secondary Buttons</h3>

            <!-- secondary-solid buttons start here -->
            <div class="et_ss-btns-container">
                <button class="et_ss-btn primary-color btn">Secondary</button>
                <button class="et_ss-btn action-color btn">Secondary</button>
                <button class="et_ss-btn red-color btn">Secondary</button>
                <button class="et_ss-btn green-color btn">Secondary</button>
                <button class="et_ss-btn blue-color btn">Secondary</button>
            </div>
            <!-- secondary-solid buttons end here -->

            <!-- secondary-outlined buttons start here -->
            <div class="et_so-btns-container">
                <button class="et_so-btn primary-color btn">Secondary</button>
                <button class="et_so-btn action-color btn">Secondary</button>
                <button class="et_so-btn red-color btn">Secondary</button>
                <button class="et_so-btn green-color btn">Secondary</button>
                <button class="et_so-btn blue-color btn">Secondary</button>
            </div>
            <!-- secondary-outlined buttons end here -->
        </div>
        <!-- secondary buttons end here -->

        <!-- link buttons start here -->
        <div class="et_link-btns-container btns-container">
            <h3>Link Buttons</h3>

            <a href="#"><button class="et_link-btn primary-color btn">Link</button></a>
        </div>
        <!-- link buttons end here -->

        <!-- icon buttons start here -->
        <div class="et_icon-btns-container btns-container">
            <h3>Icon Buttons</h3>

            <!-- simple-icons buttons start here -->
            <div class="et_simple-icon-btns-container">
                <button class="et_icon-btn primary-color btn"><i class="fas fa-home t-4"></i></button>
                <button class="et_icon-btn primary-color btn"><i class="fas fa-bars"></i></button>
                <button class="et_icon-btn primary-color btn"><i class="fas fa-trash-alt"></i></button>
                <button class="et_icon-btn primary-color btn"><i class="fas fa-times"></i></button>
                <button class="et_icon-btn primary-color btn"><i class="fas fa-folder"></i></button>
            </div>
            <!-- simple-icons buttons end here -->

            <!-- descriptive-icons buttons start here -->
            <div class="et_simple-icon-btns-container">
                <button class="et_icon-btn primary-color btn">
                    <i class="fas fa-home t-4"></i>
                    <span> Home</span></button>
                <button class="et_icon-btn primary-color btn">
                    <i class="fas fa-bars"></i>
                    <span> Menu</span>
                </button>
                <button class="et_icon-btn primary-color btn">
                    <i class="fas fa-trash-alt"></i>
                    <span> Trash</span>
                </button>
                <button class="et_icon-btn primary-color btn">
                    <i class="fas fa-times"></i>
                    <span> Close</span>
                </button>
                <button class="et_icon-btn primary-color btn">
                    <i class="fas fa-folder"></i>
                    <span>Folder</span>
                </button>
            </div>
            <!-- descriptive-icons buttons end here -->

            <!-- circular-icons buttons start here -->
            <div class="et_simple-icon-btns-container">
                <button class="et_icon-btn primary-color btn b-rad4"><i class="fas fa-home t-4"></i></button>
                <button class="et_icon-btn primary-color btn b-rad4"><i class="fas fa-bars"></i></button>
                <button class="et_icon-btn primary-color btn b-rad4"><i class="fas fa-trash-alt"></i></button>
                <button class="et_icon-btn primary-color btn b-rad4"><i class="fas fa-times"></i></button>
                <button class="et_icon-btn primary-color btn b-rad4"><i class="fas fa-folder"></i></button>
            </div>
            <!-- circular-icons buttons end here -->
        </div>
        <!-- icon buttons end here -->

        <!-- floating action buttons start here -->
        <div class="et_fa-btns-container btns-container">
            <h3>Floating action buttons</h3>

            <div class="et_fa-btn-types-container">
                <!-- floating actions buttons type1 start here -->
                <div class="et_fa-btn-type1 b-rad4">
                    <span><i class="fas fa-plus fa-btn"></i></span>
                    <ul class="b-rad2 fa-btn-pop-up-list">
                        <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
                    </ul>
                </div>
                <!-- floating actions buttons type1 end here -->

                <!-- floating actions buttons type2 start here -->
                <div class="et_fa-btn-type2 b-rad4">
                    <span class="b-rad4 fa-icon-btn"><i class="fas fa-plus fa-btn"></i></span>
                    <div class="pop-up-btns">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
                <!-- floating actions buttons type2 start here -->
            </div>

        </div>
        <!-- floating action buttons end here -->

    </div>
    <!-- buttons end here -->
    <script src="/components/button/button.js" type="text/javascript"></script>
</body>

</html>