<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/avatar/avatar.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- avatar components start here -->
    <div class="et_avatars-container">

        <!-- circular avatar component start here -->
        <div class="et_circular-avatars-container avatars-container">
            <h3>Circular avatars</h3>
            <div class="et_circular-avatars avatars">
                <img class="et_circular-avatar xs-avatar b-rad4" src="/Images/avatar.jpeg" alt="circular avatar" />
                <img class="et_circular-avatar s-avatar b-rad4" src="/Images/avatar.jpeg" alt="circular avatar" />
                <img class="et_circular-avatar m-avatar b-rad4" src="/Images/avatar.jpeg" alt="circular avatar" />
                <img class="et_circular-avatar l-avatar b-rad4" src="/Images/avatar.jpeg" alt="circular avatar" />
            </div>
        </div>
        <!-- circular avatar component ends here -->

        <!-- rounded avatar component starts here -->
        <div class="et_rounded-avatars-container avatars-container">
            <h3>Rounded avatars</h3>
            <div class="et_rounded-avatars avatars">
                <img class="et_rounded-avatar xs-avatar b-rad2" src="/Images/avatar.jpeg" alt="circular avatar" />
                <img class="et_rounded-avatar s-avatar b-rad2" src="/Images/avatar.jpeg" alt="circular avatar" />
                <img class="et_rounded-avatar m-avatar b-rad2" src="/Images/avatar.jpeg" alt="circular avatar" />
                <img class="et_rounded-avatar l-avatar b-rad2" src="/Images/avatar.jpeg" alt="circular avatar" />
            </div>
        </div>
        <!-- rounded avatar component ends here -->

        <!-- Circular avatars with top notification starts here -->
        <div class="et_circular-wtn-avatars-container avatars-container">
            <h3>Circular avatars with top notification</h3>

            <div class="et_circular-wtn-xs-avatars circular-wn avatars">
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn xs-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 xs-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn xs-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 xs-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn xs-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4 xs-avatar-tn"></div>
                </div>
            </div>

            <div class="et_circular-wtn-s-avatars circular-wn avatars">
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn s-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 s-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn s-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 s-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn s-avatar b-rad4 s-avatar-tn" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4"></div>
                </div>
            </div>

            <div class="et_circular-wtn-m-avatars circular-wn avatars">
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn m-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 m-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn m-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 m-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn m-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4 m-avatar-tn"></div>
                </div>
            </div>

            <div class="et_circular-wtn-l-avatars circular-wn avatars">
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn l-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 l-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn l-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 l-avatar-tn"></div>
                </div>
                <div class="et_circular-wtn-avatars">
                    <img class="et_circular-avatar wtn l-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4 l-avatar-tn"></div>
                </div>
            </div>

        </div>
        <!-- Circular avatars with top notification ends here -->

        <!-- Circular avatars with bottom notification starts here-->
        <div class="et_circular-wbn-avatars-container avatars-container">
            <h3>Circular avatars with bottom notification</h3>

            <div class="et_circular-wbn-xs-avatars circular-wn avatars">
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn xs-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 xs-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn xs-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 xs-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn xs-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4 xs-avatar-bn"></div>
                </div>
            </div>

            <div class="et_circular-wbn-s-avatars circular-wn avatars">
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn s-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 s-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn s-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 s-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn s-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4 s-avatar-bn"></div>
                </div>
            </div>

            <div class="et_circular-wbn-m-avatars circular-wn avatars">
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn m-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 m-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn m-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 m-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn m-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4 m-avatar-bn"></div>
                </div>
            </div>

            <div class="et_circular-wbn-l-avatars circular-wn avatars">
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn l-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 l-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn l-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4 l-avatar-bn"></div>
                </div>
                <div class="et_circular-wbn-avatars">
                    <img class="et_circular-avatar wbn l-avatar b-rad4" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4 l-avatar-bn"></div>
                </div>
            </div>

        </div>
        <!-- Circular avatars with bottom notification ends here-->

        <!-- Rounded avatars with top notification starts here -->
        <div class="et_rounded-wtn-avatars-container avatars-container">
            <h3>Rounded avatars with top notification</h3>

            <div class="et_rounded-wtn-xs-avatars rounded-wn avatars">
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn xs-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4"></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn xs-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4"></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn xs-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4"></div>
                </div>
            </div>

            <div class="et_rounded-wtn-s-avatars rounded-wn avatars">
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn s-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4"></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn s-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4"></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn s-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4"></div>
                </div>
            </div>

            <div class="et_rounded-wtn-m-avatars rounded-wn avatars">
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn m-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4 "></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn m-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4"></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn m-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4"></div>
                </div>
            </div>

            <div class="et_rounded-wtn-l-avatars rounded-wn avatars">
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn l-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad4"></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn l-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad4"></div>
                </div>
                <div class="et_rounded-wtn-avatars">
                    <img class="et_rounded-avatar wtn l-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad4"></div>
                </div>
            </div>

        </div>
        <!-- Rounded avatars with top notification ends here -->

        <!-- Rounded avatars with bottom notification starts here -->
        <div class="et_rounded-wbn-avatars-container avatars-container">
            <h3>Rounded avatars with bottom notification</h3>

            <div class="et_rounded-wbn-xs-avatars rounded-wn avatars">
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn xs-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad2 xs-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn xs-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad2 xs-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn xs-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad2 xs-r-avatar-bn"></div>
                </div>
            </div>

            <div class="et_rounded-wbn-s-avatars rounded-wn avatars">
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn s-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad2 s-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn s-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad2 s-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn s-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad2 s-r-avatar-bn"></div>
                </div>
            </div>

            <div class="et_rounded-wbn-m-avatars rounded-wn avatars">
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn m-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad2 m-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn m-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad2 m-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn m-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad2 m-r-avatar-bn"></div>
                </div>
            </div>

            <div class="et_rounded-wbn-l-avatars rounded-wn avatars">
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn l-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n red b-rad2 l-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn l-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n green b-rad2 l-r-avatar-bn"></div>
                </div>
                <div class="et_rounded-wbn-avatars">
                    <img class="et_rounded-avatar wbn l-avatar b-rad2" src="/Images/avatar.jpeg"
                        alt="circular avatar" />
                    <div class="et_notifi-avatar-n gray b-rad2 l-r-avatar-bn"></div>
                </div>
            </div>

        </div>
        <!-- Rounded avatars with bottom notification ends here -->
    </div>
    <!-- avatar components end here -->
</body>

</html>