<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/cards/card-w-badge/card-w-badges.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- cards with badges start here -->
    <div class="cards-w-badges-container">

        <!-- cards with badges type1 start here -->
        <div class="card-w-badge-type1 card-w-badge b-rad1">
            <div class="badge-type1 fw-4">New</div>
            <i class="far fa-heart"></i>

            <div class="card-w-badge-subcontainer1">
            </div>
            <div class="card-w-badge-subcontainer2">
                <div class="product-description">
                    <div class="card-title fw-4">Nike</div>
                    <div class="card-subtitle">Comfortable shoes for men</div>
                </div>
                <div class="card-product-price fw-3">
                    <div>
                        <span class="p-mrp fw-1">1000</span>
                        <span class="p-discounted-price">₹900</span>
                    </div>
                    <div class="p-dicount">90% off</div>
                </div>
            </div>
            <div class="card-w-badge-subcontainer3">
                <button class="et_ss-btn action-color t-4 btn">Add To Cart</button>
                <button class="et_so-btn action-color t-4 btn">Buy Now</button>
            </div>
        </div>
        <!-- cards with badges type1 end here -->

        <!-- cards with badges type2 start here -->
        <div class="card-w-badge-type2 card-w-badge b-rad1">
            <i class="far fa-heart"></i>

            <div class="card-w-badge-subcontainer1">
            </div>
            <div class="card-w-badge-subcontainer2">
                <div class="product-description">
                    <div class="card-title fw-4">Nike</div>
                    <div class="card-subtitle">Comfortable shoes for men</div>
                </div>
                <div class="card-product-price fw-3">
                    <div>
                        <span class="p-mrp fw-1">1000</span>
                        <span class="p-discounted-price">₹900</span>
                    </div>
                    <div class="p-dicount">90% off</div>
                </div>
            </div>
            <div class="card-w-badge-subcontainer3">
                <button class="et_ss-btn action-color t-4 btn">Add To Cart</button>
                <button class="et_so-btn action-color t-4 btn">Buy Now</button>
            </div>
        </div>

        <!-- cards with badges type2 end here -->

        <!-- cards with badges type3 start here -->
        <div class="card-w-badge-type3 card-w-badge b-rad1">
            <div class="badge-type3">Stock Out</div>
            <i class="far fa-heart"></i>

            <div class="card-w-badge-subcontainer1">
            </div>
            <div class="card-w-badge-subcontainer2">
                <div class="product-description">
                    <div class="card-title fw-4">Nike</div>
                    <div class="card-subtitle">Comfortable shoes for men</div>
                </div>
                <div class="card-product-price fw-3">
                    <div>
                        <span class="p-mrp fw-1">1000</span>
                        <span class="p-discounted-price">₹900</span>
                    </div>
                    <div class="p-dicount">90% off</div>
                </div>
            </div>
            <div class="card-w-badge-subcontainer3">
                <button class="et_ss-btn action-color t-4 btn" disabled>Add To Cart</button>
                <button class="et_so-btn action-color t-4 btn" disabled>Buy Now</button>
            </div>
        </div>
        <!-- cards with badges type3 end here -->
    </div>
    <!-- cards with badges end here -->
</body>

</html>