@import url(/css/base.css);
@import url(/css/utility.css);
@import url(/documentation/documentation.css);


.et_js-alerts-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}

.et_js-alerts-container h4{
    text-align: left;
}

/* js-dismissible alerts start here */
.dismissible-container {
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.dismissible-container h3 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
}

.alert {
    border: 1px solid var(--light-gray);
    color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    padding: 1rem;
    width: 90%;
}

.et_dismissible-simple-primary-alert {
    background-color: var(--primary-color);
}

.et_dismissible-simple-secondary-alert {
    background-color: var(--lightest-blue);
}

.et_dismissible-simple-success-alert {
    background-color: var(--lightest-green);
}

.et_dismissible-simple-danger-alert {
    background-color: var(--lightest-red);
}

.et_dismissible-simple-warning-alert {
    background-color: var(--lightest-yellow);
}

.et_dismissible-simple-info-alert {
    background-color: var(--lightest-turquiose);
}

.fa-times-circle:hover {
    color: var(--black);
    cursor: pointer;
}

/* js-dismissible alerts end here */

/* js-dismissible alerts with strong color starts here */
.strong-bg>* {
    color: var(--white-color);
}

.et_dismissible-strong-primary-alert {
    background-color: var(--black);
}

.et_dismissible-strong-secondary-alert {
    background-color: var(--secondary-color);
}

.et_dismissible-strong-success-alert {
    background-color: var(--green);
}

.et_dismissible-strong-danger-alert {
    background-color: var(--light-red);
}

.et_dismissible-strong-warning-alert {
    background-color: rgb(248, 211, 45);
}

.et_dismissible-strong-info-alert {
    background-color: var(--turquoise);
}

.strong-dismiss:hover {
    color: var(--lightest-gray);
    cursor: pointer;
}

/* js-dismissible alerts with strong color ends here */

/* js-advanced-dismissible alerts start here */
.advanced-alert {
    border: 1px solid var(--light-gray);
    color: var(--light-gray);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 1rem 0rem;
    width: 90%;
}

.et_advanced-dismissible-primary-alert {
    background-color: var(--black);
}

.icon-alert {
    align-items: center;
    background: rgba(245, 242, 242, 0.1);
    display: flex;
    justify-content: center;
}

.et_dismissible-message-alert {
    padding: 1rem;
    text-align: center;
}

.align-right {
    grid-column: 3/4;
    margin: auto;
}

.et_dismissible-action-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.et_dismissible-action-btns button {
    border: none;
    padding: 0.5rem 1rem;
}

.action-1 a {
    color: inherit;
    text-decoration: none;
}

.et_dismissible-action-btns>*:hover {
    background-color: var(--lightest-gray);
    cursor: pointer;
}

/* js-advanced-dismissible alerts end here */