<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/cards/text-only-cards/text-only-card.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- text only cards start here -->
    <div class="et_to-cards-container">
        <!-- text only card type1 start here -->
        <div class="et_to-card-type1">
            <div>
                <h3>Title</h3>
                <h4>Subtitle</h4>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div>
                <a href="#"><button class="et_link-btn primary-color btn">Link</button></a>
                <a href="#"><button class="et_link-btn primary-color btn">Another Link</button></a>
            </div>
        </div>
        <!-- text only card type1 end here -->

        <!-- text only card type2 start here -->
        <div class="et_to-card-type2 b-rad1">
            <div class="et_to-card-type2-section1">
                <h4 class="fw-1">Course</h4>
                <h3>Web development</h3>
                <p class="fw-1">View All Chapters</p>
            </div>
            <div class="et_to-card-type2-section2">
                <div class="et_section2-subcontainer1">
                    <h4 class="fw-1">Chapter 4</h4>
                    <div>
                        <p><span></span></p>
                        <div class="et_section2-mini-info">3/9challenges</div>
                    </div>
                </div>
                <div class="et_section2-subcontainer2">
                    <h3>Javascript, HTML & CSS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.</p>
                </div>
                <div class="et_section2-subcontainer3">
                    <a href="#"><button class="et_link-btn primary-color btn  b-rad4 t-4">Link</button></a>
                </div>
            </div>
        </div>
        <!-- text only card type1 end here -->
    </div>
    <!-- text only cards end here -->
</body>

</html>