<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/badge/badge.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- badges start here -->
    <div class="et_badges-container">
        <!-- badges on buttons start here -->
        <div class="et_badges-on-btn-container badges-container">
            <h3>Badges on buttons</h3>

            <!-- x-small circular badges on buttons start here -->
            <div class="et_xs-badges-on-btn-container badges-on-btns-container">
                <div class="et_xs-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 red-badge">5</span>
                </div>
                <div class="et_xs-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 green-badge">5</span>
                </div>
                <div class="et_xs-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 gray-badge">5</span>
                </div>
            </div>
            <!-- x-small circular badges on buttons end here -->

            <!-- small circular badges on buttons start here -->
            <div class="et_s-badges-on-btn-container badges-on-btns-container">
                <div class="et_s-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 red-badge">5</span>
                </div>
                <div class="et_s-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 green-badge">5</span>
                </div>
                <div class="et_s-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 gray-badge">5</span>
                </div>
            </div>
            <!-- small circular badges on buttons end here  -->

            <!-- medium circular badges on buttons start here -->
            <div class="et_m-badges-on-btn-container badges-on-btns-container">
                <div class="et_m-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 red-badge">5</span>
                </div>
                <div class="et_m-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 green-badge">5</span>
                </div>
                <div class="et_m-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad4 gray-badge">5</span>
                </div>
            </div>
            <!-- medium circular badges on buttons start here -->


            <!-- x-small rounded badges on buttons start here -->
            <div class="et_xs-badges-on-btn-container badges-on-btns-container">
                <div class="et_xs-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 red-badge">5</span>
                </div>
                <div class="et_xs-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 green-badge">5</span>
                </div>
                <div class="et_xs-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 gray-badge">5</span>
                </div>
            </div>
            <!-- x-small rounded badges on buttons end here -->

            <!-- small rounded badges on buttons start here -->
            <div class="et_s-badges-on-btn-container badges-on-btns-container">
                <div class="et_s-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 red-badge">5</span>
                </div>
                <div class="et_s-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 green-badge">5</span>
                </div>
                <div class="et_s-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 gray-badge">5</span>
                </div>
            </div>
            <!-- small rounded badges on buttons end here -->

            <!-- medium rounded badges on buttons start here -->
            <div class="et_m-badges-on-btn-container badges-on-btns-container">
                <div class="et_m-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 red-badge">5</span>
                </div>
                <div class="et_m-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 green-badge">5</span>
                </div>
                <div class="et_m-badge-on-btn badge-on-btn">
                    <button>Button</button>
                    <span class="b-rad1 gray-badge">5</span>
                </div>
            </div>
            <!-- medium rounded badges on buttons end here -->


            <!-- x-small circular toggle badges on buttons start here -->
            <div class="et_xs-badges-on-btn-container badges-on-btns-container">
                <div class="et_xs-badge-on-btn badge-on-btn toggle-badge">
                    <button class="toggle-btn">Hide</button>
                    <span class="b-rad4 red-badge">5</span>
                </div>
                <div class="et_xs-badge-on-btn badge-on-btn toggle-badge">
                    <button class="toggle-btn">Hide</button>
                    <span class="b-rad4 green-badge">5</span>
                </div>
                <div class="et_xs-badge-on-btn badge-on-btn toggle-badge">
                    <button class="toggle-btn">Hide</button>
                    <span class="b-rad4 gray-badge">5</span>
                </div>
            </div>
            <!-- x-small circular toggle badges on buttons end here -->

        </div>
        <!-- badges on buttons end here -->

        <!-- badges in buttons start here -->
        <div class="et_badges-in-btn-container badges-container">
            <h3>Badges in buttons</h3>

            <!-- rounded badges in buttons start here -->
            <button class="et_badge-in-btn">
                <div>Button</div>
                <span class="b-rad1 badge-in-btn">1</span>
            </button>
            <!-- rounded badges in buttons start here -->

            <!-- circular badges in buttons start here -->
            <button class="et_badge-in-btn">
                <div>Button</div>
                <span class="b-rad4 badge-in-btn">1</span>
            </button>
            <!-- circular badges in buttons start here -->

            <!-- pill badges in buttons start here -->
            <button class="et_badge-in-btn">
                <div>Button</div>
                <span class="b-rad4 t-4 badge-in-btn pill-badge">New</span>
            </button>
            <!-- pill badges in buttons start here -->

        </div>
        <!-- badges in buttons end here -->

        <!-- badges on avatars start here -->
        <div class="et_badges-on-avatars-container badges-container">
            <h3>Badges on avatars</h3>

            <!-- badges on circular avatars start here -->
            <div class="et_badges-on-avatars-container">
                <div class="et_badges-on-circular-avatar badge-on-avatar">
                    <img src="/Images/avatar.jpeg" width="30" height="30" alt="avatar with a badge"
                        class="b-rad4 xs-avatar">
                    <span class="b-rad4">5</span>
                </div>
                <div class="et_badges-on-circular-avatar badge-on-avatar">
                    <img src="/Images/avatar.jpeg" width="40" height="40" alt="avatar with a badge"
                        class="b-rad4 s-avatar">
                    <span class="b-rad4">5</span>
                </div>
                <div class="et_badges-on-circular-avatar badge-on-avatar">
                    <img src="/Images/avatar.jpeg" width="50" height="50" alt="avatar with a badge"
                        class="b-rad4 m-avatar">
                    <span class="b-rad4">5</span>
                </div>
            </div>
            <!-- badges on circular avatars end here -->

            <!-- badges on rounded avatars start here -->
            <div class="et_badges-on-avatars-container">
                <div class="et_badges-on-rounded-avatar badge-on-avatar">
                    <img src="/Images/avatar.jpeg" width="30" height="30" alt="avatar with a badge"
                        class="b-rad1 xs-avatar">
                    <span class="b-rad4">5</span>
                </div>
                <div class="et_badges-on-rounded-avatar badge-on-avatar">
                    <img src="/Images/avatar.jpeg" width="40" height="40" alt="avatar with a badge"
                        class="b-rad1 s-avatar">
                    <span class="b-rad4">5</span>
                </div>
                <div class="et_badges-on-rounded-avatar badge-on-avatar">
                    <img src="/Images/avatar.jpeg" width="50" height="50" alt="avatar with a badge"
                        class="b-rad1 m-avatar">
                    <span class="b-rad4">5</span>
                </div>
            </div>
            <!-- badges on rounded avatars end here -->

        </div>
        <!-- badges on avatars end here -->

        <!-- badges on icons start here -->
        <div class="et_badges-on-icons-container badges-container">
            <h3>Badges on icons</h3>

            <div class="et_badges-on-icons-container">
                <i class="fas fa-envelope t-2"></i>
                <span class="b-rad4">5</span>
            </div>
            <div class="et_badges-on-icons-container">
                <i class="fas fa-bell t-2"></i>
                <span class="b-rad4">5</span>
            </div>
        </div>
        <!-- badges on icons end here -->
    </div>
    <!-- badges end here -->
    <script src="/components/badge/badge.js" type="text/javascript"></script>
</body>

</html>