<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/cards/card-w-text-overlay/card-wto.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- card with text overlay start here -->
    <div class="et_card-wto-container">

        <!-- vertical card with text overlay start here -->
        <div class="et_vertical-card-wto card-wto b-rad1">
            <div class="et_vertical-card-wto-innerContainer card-wto-innercontainer b-rad1">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <button class="et_ss-btn red-color btn b-rad1">Learn more</button>
            </div>
        </div>
        <!-- vertical card with text overlay end here -->

        <!-- horizontal card with text overlay start here -->
        <div class="et_horizontal-card-wto card-wto b-rad1">
            <div class="et_horizontal-card-wto-innerContainer card-wto-innercontainer b-rad1">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <button class="et_ss-btn red-color btn b-rad1">Learn more</button>
            </div>
        </div>
        <!-- horizontal card with text overlay end here -->

        <!-- vertical card with text overlay start here -->
        <div class="et_vertical-shopping-card-wto b-rad1">
            <div class="et_vertical-shopping-card-wto-innercontainer1 b-rad1">
                <div class="et_shopping-card-wto-innercontainer1-subcontainer">
                    <h3 class="et_product-brand">adidas</h3>
                    <p class="et_product-description">Women's t-shirt</p>
                    <p>
                        <span class="et_product-original-price">1000</span>
                        <span class="et_discounted-price fw-4"> 900</span> 
                        <span class="et_product-discount fw-4">10% 0ff</span>
                    </p>
                </div>
            </div>
            <div class="et_vertical-shopping-card-wto-innercontainer2 b-rad1">
                <button class="et_ss-btn action-color btn">Buy Now</button>
                <button class="et_so-btn action-color btn">Add To Cart</button>
            </div>
        </div>
        <!-- vertical card with text overlay end here -->
    </div>
    <!-- card with text overlay end here -->
</body>

</html>