@import url(/css/base.css);
@import url(/css/utility.css);
@import url(/documentation/documentation.css);

/* modal starts here */
.et_modal-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.et_modal-container h3 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: center;
}

/* simple-modal starts here */
.modal-container {
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 1rem;
    margin: 1rem 0rem;
    width: 100%;
}

.et_popUp-modal {
    background-color: var(--white-color);
    border: 1px solid var(--action);
    display: none;
    margin: 0.5rem;
    padding: 1rem;
    position: absolute;
}


/* simple-modal ends here */
/* modal ends here */