<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/cards/card-w-dismiss/card-w-dismiss.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- card with dismiss start here  -->
    <div class="et_card-wd-container">

        <!-- card with dismiss type1 start here -->
        <div class="et_card-wd-type1 card-wd-horizontal-template">
            <div class="et_card-wd-section1">
                <img class="et_circular-avatar l-avatar b-rad4" src="/Images/avatar.jpeg" alt="circular avatar" />
                <div>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="et_card-wd-section2">
                <div>
                    <h3>Title</h3>
                    <h4 class="fw-1">Subtitle</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="et_card-dismiss-btn"><i class="fas fa-times"></i></div>
        </div>
        <!-- card with dismiss type1 end here -->

        <!-- card with dismiss type2 start here -->
        <div class="et_card-dismiss-type2 card-wd-vertical-template">
            <div class="et_card-wd-section1">
                <img class="et_circular-avatar l-avatar b-rad4" src="/Images/avatar.jpeg" alt="circular avatar" />
                <div>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="et_card-wd-section2">
                <div>
                    <h3>Title</h3>
                    <h4 class="fw-1">Subtitle</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="et_card-dismiss-btn"><i class="fas fa-times"></i></div>
        </div>
        <!-- card with dismiss type2 end here -->

        <!-- card with dismiss type3 start here -->
        <div class="et_card-dismiss-type3 card-wd-horizontal-template">
            <div class="et_card-wd-type3-section1 card-wd-section1">
                <div class="et_type3-section1-subcontainer1 fw-4 t-3">Title</div>
            </div>
            <div class="et_card-wd-type3-section2 et_card-wd-section2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
            <div class="et_card-wd-type3-section3">
                <button class="et_ss-btn primary-color btn">Accept</button>
                <button class="et_ss-btn action-color btn">Know more</button>
            </div>
            <div class="et_card-dismiss-btn"><i class="fas fa-times"></i></div>
        </div>
        <!-- card with dismiss type3 end here -->

        <!-- card with dismiss type3 start here -->
        <div class="et_card-dismiss-type4 card-wd-vertical-template">
            <div class="et_card-wd-type4-section1 card-wd-section1">
                <div class="et_type4-section1-subcontainer1 fw-4 t-3">Title</div>
            </div>
            <div class="et_card-wd-type4-section2 et_card-wd-section2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
            </div>
            <div class="et_card-wd-type4-section3">
                <button class="et_ss-btn primary-color btn">Accept</button>
                <button class="et_ss-btn action-color btn">Know more</button>
            </div>
            <div class="et_card-dismiss-btn"><i class="fas fa-times"></i></div>
        </div>
        <!-- card with dismiss type3 end here -->

    </div>
    <!-- card with dismiss end here -->
    <script src="/components/cards/card-w-dismiss/card-w-dismiss.js" type="text/javascript"></script>
</body>

</html>