@import url(/css/base.css);
@import url(/css/utility.css);
@import url(/components/avatar/avatar.css);
@import url(/components/button/button.css);

/* card with dismiss start here */
.et_card-wd-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 1rem;
}

/* card with dismiss type1 start here */
.card-wd-horizontal-template {
    background-color: var(--action);
    box-shadow: 0px 0px 3px 1px var(--black);
    display: flex;
    flex-wrap: no-wrap;
    width: 25rem;
    min-height: 13rem;
    padding: 0.5rem;
    position: relative;
}

.et_card-wd-section1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.et_card-wd-section1 .et_circular-avatar {
    box-shadow: 0px 0px 1px 3px var(--white-color);
    height: 80px;
    width: 80px;
}

.et_card-wd-section1 div {
    text-align: center;
    padding-left: 0.5rem;
}

.et_card-wd-section1 a {
    color: var(--lightest-gray);
    padding: 0.1rem;
}

.et_card-wd-section2 {
    color: var(--lightest-gray);
    padding: 1rem;
}

.et_card-wd-section2 h3 {
    color: var(--white-color);
    border-bottom: 1px solid var(--lightest-gray);
    padding-bottom: 0.5rem;
}

.et_card-wd-section2 h4 {
    padding-top: 0.5rem;
}

.et_card-wd-section2 p {
    font-size: smaller;
    line-height: 1.5em;
    word-spacing: 0.3em;
}

.et_card-dismiss-btn {
    position: absolute;
    top: 2px;
    right: 4px;
}

.et_card-dismiss-btn:hover {
    color: var(--lightest-gray);
    cursor: pointer;
}

/* card with dismiss type1 end here */

/* card with dismiss type2 start here */
.card-wd-vertical-template {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 2px 1px var(--black);
    min-height: 22rem;
    padding: 0.5rem;
    position: relative;
    width: 17rem;
}
.et_card-dismiss-type2 .et_circular-avatar {
    box-shadow: 0px 0px 2px 3px var(--black);
}
.et_card-dismiss-type2 a{
    color: var(--light-gray);
}
.card-wd-vertical-template .et_card-wd-section2{
    color: var(--light-gray);
    text-align: center;
}
.et_card-dismiss-type2 .et_card-wd-section2 h3{
    color: var(--black);
}
.card-wd-vertical-template .et_card-dismiss-btn:hover{
    color: var(--light-gray);
}
/* card with dismiss type2 end here */

/* card with dismiss type3 start here */
.et_card-dismiss-type3{
    color: var(--lightest-gray);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.card-wd-section1{
    border-bottom: 1px solid var(--lightest-gray);
    display: flex;
    justify-content: flex-start;
}
.et_card-wd-type3-section2{
    padding: 1rem 0rem;
}
/* card with dismiss type3 end here */

/* card with dismiss type4 start here */
.et_card-wd-type4-section3{
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* card with dismiss type4 end here */
/* card with dismiss end here */