<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/components/alert/no-js-alerts/no-js-alert.css">
    <link rel="shortcut icon" type="image/svg" href="/Images/Expeditech-favicon.jpeg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Expeditech UI</title>
</head>

<body>
    <!-- no-js-alerts start here -->
    <div class="et_no-js-alerts-container">
        <!-- no-js-simple alerts start here -->
        <div class="simple-alerts-container">
            <h3>Simple Alerts</h3>

            <div class="et_simple-primary-alert alert b-rad1">
                This is a primary alert!
            </div>
            <div class="et_simple-secondary-alert alert b-rad1">
                This is a secondary alert!
            </div>
            <div class="et_simple-success-alert alert b-rad1">
                This is a success alert!
            </div>
            <div class="et_simple-danger-alert alert b-rad1">
                This is a danger alert!
            </div>
            <div class="et_simple-warning-alert alert b-rad1">
                This is a warning alert!
            </div>
            <div class="et_simple-info-alert alert b-rad1">
                This is a info alert!
            </div>
        </div>
        <!-- no-js-simple alerts end here -->

        <!-- no-js-simple alerts with link start here -->
        <div class="simple-alerts-wl-container simple-alerts-container">
            <h3>Simple Alerts With Links</h3>

            <div class="et_simple-primary-alert wl alert b-rad1">
                This is a primary alert with a <a class="fw-4" href="#">link</a>.
            </div>
            <div class="et_simple-secondary-alert wl alert b-rad1">
                This is a primary alert with a <a class="fw-4" href="#">link</a>.
            </div>
            <div class="et_simple-success-alert wl alert b-rad1">
                This is a primary alert with a <a class="fw-4" href="#">link</a>.
            </div>
            <div class="et_simple-danger-alert wl alert b-rad1">
                This is a primary alert with a <a class="fw-4" href="#">link</a>.
            </div>
            <div class="et_simple-warning-alert wl alert b-rad1">
                This is a primary alert with a <a class="fw-4" href="#">link</a>.
            </div>
            <div class="et_simple-info-alert wl alert b-rad1">
                This is a primary alert with a <a class="fw-4" href="#">link</a>.
            </div>
        </div>
        <!-- no-js-simple alerts with link alerts end here -->

        <!-- no-js-simple alerts with icon start here -->
        <div class="simple-alerts-wi-container simple-alerts-container">
            <h3>Simple Alerts With Icons</h3>

            <div class="et_simple-primary-alert wi alert b-rad1">
                <i class="fas fa-exclamation"></i> This is a primary alert!
            </div>
            <div class="et_simple-secondary-alert wi alert b-rad1">
                <i class="fas fa-info-circle"></i> This is a secondary alert!
            </div>
            <div class="et_simple-success-alert wi alert b-rad1">
                <i class="fas fa-check"></i> This is a success alert!
            </div>
            <div class="et_simple-danger-alert wi alert b-rad1">
                <i class="fas fa-skull-crossbones"></i> This is a danger alert!
            </div>
            <div class="et_simple-warning-alert wi alert b-rad1">
                <i class="fas fa-exclamation-triangle"></i> This is a warning alert!
            </div>
            <div class="et_simple-info-alert wi alert b-rad1">
                <i class="fas fa-question-circle"></i> This is a info alert!
            </div>
        </div>
        <!-- no-js-simple alerts with icon end here -->
    </div>
    <!-- no-js-alerts end here -->
</body>

</html>